{% extends "template/backend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.css">


<style>
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#imgPreview, #imgPreview-update{
  /*border-radius:50%;*/
  margin-bottom: 15px;
}
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
  <div class="col-sm-12 text-right hidden-xs">
    <ol class="breadcrumb">
      <li><a href="{{base_url()}}backend/" class="link-effect">Dashboard</a></li>
      <li><a href="{{base_url()}}backend/trah" class="link-effect">Trah</a></li>
      <li>
          Template Sertifikat
      </li>
    </ol>
  </div>
</div>
<!-- Page Content -->

<div class="content">
  <!-- Dynamic Table Full -->
  <div class="block">
    <div class="block-header text-center bg-gray-lighter">
      <!-- <button class="btn btn-default btn-delete-trah pull-left"  data-toggle="tooltip" title="Hapus yang dipilih" disabled><i class="si si-trash"></i></button> -->
      <h4 class="h4 pull-left">Template Sertifikat <small class="">{{trah.tra_name}}</small></h4>

      <div class="btn-group pull-right">
        {% if trah.tra_front %}
            <button class="btn btn-primary btn-add-albums" data-toggle="tooltip" title="sertifikat depan sudah diupload" disabled><i class="si si-cloud-upload"></i> Depan</button>
          {% else %}
            <button class="btn btn-primary btn-add-sertifikat-front " onClick="openModal('#modal-add-front', 'add')" data-toggle="tooltip" title="Tambah sertifikat depan"><i class="si si-cloud-upload"></i> Depan</button>
        {% endif %}
        {% if trah.tra_back %}
            <button class="btn btn-primary btn-add-albums" data-toggle="tooltip" title="sertifikat belakang sudah diupload" disabled><i class="si si-cloud-upload"></i> Belakang</button>
          {% else %}
            <button class="btn btn-primary btn-add-sertifikat-back " onClick="openModal('#modal-add-back', 'add')" data-toggle="tooltip" title="Tambah sertifikat belakang"><i class="si si-cloud-upload"></i> Belakang</button>
        {% endif %}
      </div>

    </div>
    <div class="block-content table-responsive">
      {% if msg %}
          {% if msg.error %}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 class="font-w600 push-15">Upload Gagal!</h4>
            <p>{{msg.error}}</p>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 class="font-w600 push-15">Upload Berhasil!</h4>
            <p>{{msg.success}}</p>
          </div>
          {% endif %}
      {% endif %}
      <div class="row" style="">
        {% if trah.tra_front %}
          <div class="col-md-6 animated fadeIn" style="margin-bottom:20px;">
            <div class="img-container fx-img-zoom-in fx-opt-zoom-in">
              <img class="img-responsive" src="{{base_url()}}{{trah.tra_front}}" alt="">
              <div class="img-options">
                <div class="img-options-content">
                  <h3 class="font-w400 text-white push-5">Sertifikat Depan</h3>
                  <h4 class="h6 font-w400 text-white-op push-15">Template sertifikat bagian depan</h4>
                  <button class="btn btn-sm btn-warning" onClick="openModal('#modal-update-front', 'front', {{trah.id}})"><i class="fa fa-pencil"></i> Edit</button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if trah.tra_back %}
          <div class="col-md-6 animated fadeIn" style="margin-bottom:20px;">
            <div class="img-container fx-img-zoom-in fx-opt-zoom-in">
              <img class="img-responsive" src="{{base_url()}}{{trah.tra_back}}" alt="">
              <div class="img-options">
                <div class="img-options-content">
                  <h3 class="font-w400 text-white push-5">Sertifikat Belakang</h3>
                  <h4 class="h6 font-w400 text-white-op push-15">Template sertifikat bagian belakang</h4>
                  <button class="btn btn-sm btn-warning" onClick="openModal('#modal-update-back', 'back', {{trah.id}})"><i class="fa fa-pencil"></i> Edit</button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
      </div>
      <div class="row" style="">
          {% if trah.tra_front == null and trah.tra_back == null  %}
          <div class="col-md-12 animated fadeIn" style="margin-bottom:20px;">
              <center>
                  <h4>--Belum ada template sertifikat untuk trah ini--</h4>
              </center>
          </div>
          {% endif %}
      </div>
  </div>
</div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-front" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
      <form action="{{base_url()}}backend/trah/upload_front/{{trah.id}}" class="form-add-albums form-horizontal" method="post" enctype="multipart/form-data">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
              <li>
                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Sertifikat Depan</h3>
          </div>
          <div class="block-content">
            <div class="form-group">
              <div class="col-xs-12">
                  <input type="file" class="upload" name="tra_front"/>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary submit-add-trah">Simpan</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<!-- modals -->
<div class="modal fade" id="modal-update-front" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
      <form action="{{base_url()}}backend/trah/upload_front/{{trah.id}}" class="form-add-albums form-horizontal" method="post" enctype="multipart/form-data">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
              <li>
                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Update Sertifikat Depan</h3>
          </div>
          <div class="block-content">
            <div class="form-group">
              <div class="col-xs-12">
                  <input type="file" class="upload" name="tra_front"/>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary submit-add-trah">Simpan</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-add-back" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
      <form action="{{base_url()}}backend/trah/upload_back/{{trah.id}}" class="form-add-albums form-horizontal" method="post" enctype="multipart/form-data">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
              <li>
                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Sertifikat Belakang</h3>
          </div>
          <div class="block-content">
            <div class="form-group">
              <div class="col-xs-12">
                  <input type="file" class="upload" name="tra_back" id="imageInput"/>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary submit-add-trah">Simpan</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-back" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
      <form action="{{base_url()}}backend/trah/upload_back/{{trah.id}}" class="form-add-albums form-horizontal" method="post" enctype="multipart/form-data">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
              <li>
                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Update Sertifikat Belakang</h3>
          </div>
          <div class="block-content">
            <div class="form-group">
              <div class="col-xs-12">
                  <input type="file" class="upload" name="tra_back" id="imageInput"/>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary submit-add-trah">Simpan</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-albums" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top modal-md">
    <div class="modal-content">
      <form action="" class="form-update-albums form-horizontal" method="post">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
              <li>
                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Ubah Foto </h3>
          </div>
          <div class="block-content">
            <!-- <div class="col-sm-6"> -->
            <div class="form-group">
              <div class="col-xs-4 col-xs-offset-4">
                <img id="imgPreview-update" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                <div class="fileUpload btn btn-default btn-flat btn-block">
                  <span>Ubah Foto</span>
                  <input type="file" class="upload" name="photo" id="imageInput"/>
                  <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                </div>
                <!-- <small class="text-muted">Ratio 1:1</small> -->
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <label for="title-update-trah">Judul Event</label>
                <input class="form-control" id="title-update-trah" name="gal_title" type="text" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <label for="description-update-trah">Deskripsi</label>
                <textarea class="form-control" name="gal_description" id="description-update-trah"  rows="4" cols="20" required></textarea>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="clearfix"></div><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary submit-update-trah">Save</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->

<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Image Cropper</h3>
        </div>
        <div class="block-content">
          <div id="cropper-wrap-img">
            <img width="100%" src="/img/default.png" alt="Picture">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
        <button type="button" class="btn btn-primary btn-crop">Crop</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.js"></script>
<!-- Page JS Code -->
<input type="hidden" value="{{ base_url() }}" class="base_url" />
<!-- <script src="{{ base_url() }}/assets/oneui/js/pages/adm_trah.js"></script> -->

<script type="text/javascript">
function openModal(target, type, id) {
  if (type == 'update') {

  }

  $(target).modal('show');
}
</script>

{% endblock %}
