
{% extends "template/frontend.twig" %}
{% block title %}Beranda
{% endblock %}
{% block styles %}
<link href="{{base_url()}}assets/coco/libs/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="{{base_url()}}assets/coco/libs/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="{{base_url()}}assets/coco/libs/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
<link href="{{base_url()}}assets/coco/libs/jquery-magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
<link href="{{base_url()}}assets/coco/css/style.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header %}
<section class="main-slider fullsize" data-stellar-background-ratio="0.5" style="background-image: url({{base_url()}}{{profile.prof_background}})">
    <div class="slider-caption">
        <h1 data-animate="fadeInDown" data-delay="1000" data-duration="2s">
            Pastikan
            <br>Anjing kesayangan Anda tersertifikasi
            <br>Kami siap melayani!
        </h1>
        <!--<a data-animate="fadeInUp" data-duration="2s" data-delay="1300" href="javascript:;" class="btn btn-primary btn-lg">-->
        <a data-animate="fadeInUp" data-duration="2s" data-delay="1300" href="#contact" class="btn btn-danger btn-lg">
            Hubungi Kami
        </a>
    </div>
</section>
{% endblock %}
{% block content %}
<section class="hero-banner">
    <div class="container text-center">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Kami <span class="invert bg-success">mengerti</span> apa yang Anda butuhkan!</h2>
                  <p>
                      {{profile.prof_review}}
                  </p>
            </div>
        </div>
    </div>
</section>


  <section class="features-block">

      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <h2>EVENT DAN FESTIVAL POPULER</h2>
              </div>
          </div>
          <div class="row zoom-gallery" data-animate="zoomIn" data-delay="0">
            {% for events in event %}
              <div class="col-sm-4">
                  <a href="{{base_url()}}{{events.evn_photo}}" data-source="{{base_url()}}{{events.evn_photo}}" title="{{events.evn_title}}" class="gallery-item effect-milo">
                      <img src="{{base_url()}}{{events.evn_photo}}">
                  </a>

                  <div class="col-md-12" style="margin:0px;padding:0px;">
                    <a href="javascript:;" class="gallery-item-title pull-left">{{events.evn_title}}</a>
                    <a href="{{base_url()}}events/albums/{{events.evn_id}}" name="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-picture"></span> Galeri Event</a>
                  </div>
                  <!-- <br> -->
                  <hr>
                <div class="col-md-12" style="margin:0px;padding:0px;">
                    <p class="gallery-item-descr">
                        {{events.evn_desc}}
                    <!-- <ul> -->
                        <br/>Tempat  : {{events.evn_place}}
                        <br/>Tanggal : {{event.evn_date|date('d M Y')}}
                        <!-- <li>Milik Wesi Prayudha Sakti</li> -->
                    <!-- </ul> -->


                    </p>
                    <p>
                      Ranking sementara :
                    </p>
                    <ol>
                      {% for winner in winners %}
                          <li>{{winner.can_a_s}} - score : {{winner.can_score}}</li>
                      {% endfor %}
                    </ol>
                  </div>

              </div>
            {% endfor %}

          </div>
      </div>
  </section>


<section class="testimonials-block parallax-bg text-center" data-stellar-background-ratio="0.6" style="padding-top: 0px;">

    <!-- <div id="testimonial" class="owl-carousel owl-theme"> -->

        {% for sponsor in sponsorsPrimary %}
        <div class="item">
            <a href="{{sponsor.spo_website}}" target="_blank">
                <img src="{{base_url()}}{{sponsor.spo_logo}}" width="100%" class="img img-responsive" alt="" />
            </a>
        </div>
        {% endfor %}


    <!-- </div> -->
</section>
<section class="testimonials-block parallax-bg text-center" data-stellar-background-ratio="0.6">

    <div id="testimonial" class="owl-carousel owl-theme">

        {% for quotes in quote %}
        <div class="item">
            <h2>"{{quotes.quo_content}}"</h2>
            <p><b>{{quotes.quo_author}}</b></p>
        </div>
        {% endfor %}


    </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %}
