

{% extends "template/frontend.twig" %}
{% block title %}Layanan
{% endblock %}
{% block styles %}

<link href="{{base_url()}}assets/coco/libs/jquery-magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
<link href="{{base_url()}}assets/coco/css/style.css" rel="stylesheet" type="text/css" />
<style media="screen">
.bg-main_color{
  background-color: #000000 !important;
}
</style>
{% endblock %}

{% block inverted %}inverted{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<section class="hero-banner bg-main_color">
    <div class="container text-center">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-white-1">SERTIFIKASI ICR</h2><hr>
                <div class="row">
                    <div class="col-sm-12 text-white-1">
                        {{service.ser_desc|raw}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero-banner">
    <div class="container text-center">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1 class="text-primary">Mari bergabung dengan ICR</h1>
                <hr>
                <div class="row text-justify">
                    <div class="col-sm-6">
                        <h4>Aturan Pendaftaran ICR</h4>
                          {{service.ser_reg_rule_ind|raw}}
                    </div>
                    <div class="col-sm-6">
                        <h4>ICR Registering Rules</h4>
                        {{service.ser_reg_rule_eng|raw}}
                    </div>
                </div>
                <h3 class="text-default">Aturan/Rule</h3><hr>
                <div class="row text-justify">
                    <div class="col-sm-12">
                        {% for rule in rules %}
                        <b>{{rule.sdet_title}}</b><br>
                          {% spaceless %}{{rule.sdet_description|raw}}{% endspaceless %}
                          <br>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="hero-banner">
    <div class="container">
        <div class="row text-justify">
            <div class="col-sm-4">
                <h2 class="text-primary">VARIAN PITBULL</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in <a href="#">reprehenderit</a> in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="col-sm-8">
                <b>American Pitbull Terrier</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="600" data-percentage="89" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <b>American Pitbull Terrier</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="900" data-percentage="75" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <b>American Pitbull Terrier</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="1200" data-percentage="82" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <b>American Pitbull Terrier</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="1500" data-percentage="48" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


{% endblock %}

{% block scripts %}{% endblock %}
