{% extends "template/backend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        font-size: 12px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview{
        /*border-radius:50%;*/
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>Set Akun</li>
        </ol>
    </div>
</div>
<!-- Page Content -->
<div class="content">
    <div class="block">
        <div class="block-header text-center">
            <h4>Profil Koordinator<small></small></h4>
        </div>
        <div class="block-content table-responsive">
            <div class="row">
              <form method="post" action="{{base_url()}}/admin/update/{{coordinator.coo_id}}" class="form-horizontal form-update-profile">
                <div class="col-md-6">
                        <div class="block">
                            <!-- <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Profile</h3>
                            </div> -->
                            <div class="block-content">
                                <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <img id="imgPreview" width="100%" src="{{coordinator.coo_photo}}">
                                    <div class="fileUpload btn btn-default btn-flat btn-block">
                                        <span>Browse Image</span>
                                        <input type="file" class="upload" name="ImageFile" id="imageInput"/>
                                        <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Kontak</h3>
                            </div>
                            <div class="block-content">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" id="email" name="coo_email" type="email" value="{{coordinator.coo_email}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone_number">Nomor Telepon</label>
                                    <input class="form-control" id="phone_number" name="coo_phone_number" type="text" value="{{coordinator.coo_phone_number}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Keamanan</h3>
                            </div>
                            <div class="block-content">
                                <div class="form-group">
                                  <button type="button" onClick="openModal('#modal-update-password')" class="btn btn-default" name="button">Ubah Kata Sandi</button>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="block">
                            <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Identitas Koordinator</h3>
                            </div>
                            <div class="block-content">
                                <div class="form-group">
                                        <label for="nip">NIP</label>
                                        <input class="form-control" id="nip" name="coo_nip" type="text" value="{{coordinator.coo_nip}}" required>
                                </div>
                                <div class="form-group">
                                        <label for="fullname">Nama</label>
                                        <input class="form-control" id="fullname" name="coo_full_name" type="text" value="{{coordinator.coo_full_name}}" required>
                                </div>
                                <div class="form-group">
                                        <label for="pob">Tempat & Tanggal Lahir</label>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-6" style="padding-left:0">
                                          <input class="form-control" id="pob" name="coo_pob" type="text" value="{{coordinator.coo_pob}}" required>
                                        </div>
                                        <div class="col-xs-6" style="padding-right:0">
                                          <input class="form-control" id="birthdate" name="coo_birth_date" type="date" value="{{coordinator.coo_birth_date}}" required placeholder="1991-12-30">
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="gender">Jenis Kelamin</label>
                                        <select class="form-control" id="gender" name="coo_gender">
                                          <option value="L">Laki-laki</option>
                                          <option value="P">Perempuan</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                        <label for="address">Alamat</label>
                                        <textarea class="form-control" id="address" name="coo_address" type="text" required>{{coordinator.coo_address}}</textarea>
                                </div>
                                <div class="form-group">
                                        <label for="city">Kota</label>
                                        <input class="form-control" id="city" name="coo_city_address" type="text" value="{{coordinator.coo_city_address}}" required>
                                </div>
                                <div class="form-group">
                                        <input type="submit" class="btn btn-primary pull-right" value="Simpan">
                                </div>
                            </div>
                        </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-update-password" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="{{base_url()}}admin/update_password" class="form-update-password form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Ubah Kata Sandi</h3>
                </div>
                <div class="block-content">
									<div class="form-group">
											<div class="col-xs-12">
													<label for="old-password">Kata Sandi Lama</label>
                          <input class="form-control" id="old-password" name="old_password" type="password" required>
													<input class="form-control" id="email" name="email" type="hidden" value="{{coordinator.coo_email}}" required>
											</div>
									</div>
                  <div class="form-group">
											<div class="col-xs-12">
													<label for="new-password">Kata Sandi Baru</label>
													<input class="form-control" id="new-password" name="new_password" type="password" required>
											</div>
									</div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-primary submit-update-course">Simpan</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->


<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-primary-dark">
                <ul class="block-options">
                    <li>
                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Image Cropper</h3>
            </div>
            <div class="block-content">
                <div id="cropper-wrap-img">
                    <img width="100%" src="/img/default.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
            <button type="button" class="btn btn-success btn-crop">Crop</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('#gender').val('{{coordinator.coo_gender}}');
  jQuery(function () {
      $('#birthdate').datetimepicker({
          format: 'YYYY-MM-DD',
          showTodayButton: true,
          showClose: true,
          icons: {
              time: 'si si-clock',
              date: 'si si-calendar',
              up: 'si si-arrow-up',
              down: 'si si-arrow-down',
              previous: 'si si-arrow-left',
              next: 'si si-arrow-right',
              today: 'si si-size-actual',
              clear: 'si si-trash',
              close: 'si si-close'
          }
      });
  });
</script>
<!-- Page JS Code -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/pages/adm_account.js"></script>
{% endblock %}
