{# ARTechnology #}
{% extends "template/backend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link rel="stylesheet" href="{{ base_url()}}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.css">
{# ARTechnology #}
{# <link rel="stylesheet" href="{{ base_url() }}/assets/oneui/fonts/MTCORSVA/font.css"> #}
{# ARTechnology #}
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500" rel="stylesheet">

<style>
    .cert {
        {% for trah in trahs %}
            {% if trah.tra_name == canine[0].can_breed  %}
                background: url('{{base_url()}}{{trah.tra_back}}') no-repeat;
            {% endif %}
        {% endfor %}
        background: url('{{base_url()}}assets/blkng.jpg') no-repeat;
        background-size: contain;
    }
    .tentang_surat{
        text-align: left;
        font-family: 'Alegreya Sans SC', sans-serif !important;
        color: white !important;
    }
    .parent_name{
        margin-top: 4px;
    }
    .parent_number{
        margin-top: 4px;
    }
    .parent_color{
        margin-top: 4px;
    }
    .icr{
        color: #FF0000 !important;
    }
    @media print{
        .cert {
            margin: 0px !important;
        }
        body{
            {% for trah in trahs %}
                {% if trah.tra_name == canine[0].can_breed  %}
                    background: url('{{base_url()}}{{trah.tra_back}}') no-repeat !important;
                {% endif %}
            {% endfor %}
            background: url('{{base_url()}}assets/blkng.jpg') no-repeat !important;
            background-size: contain !important;
            padding: 0px !important;
            margin: 0px !important;
        }
        .graph-image img{
            display:inline !important;
        }
    }
    @page {
        size: landscape;   /* auto is the initial value */
        margin: 0mm;
    }
</style>
{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="content">
    <div class="block graph-image cert" >
        <div class="block-content">
            <div class="row tentang_surat">
                <div class="col-xs-3"></div>
                <div class="col-xs-3 font-w600 pull-right white" style="z-index:2; margin:10px 10px 0 0;">
                    {% if canine[0].sire[0].sire[0].sire[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span>
                        {% if canine[0].sire[0].sire[0].sire[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].sire[0].sire[0].can_a_s}}</span></h6>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].sire[0].sire[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].sire[0].sire[0].sire[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].sire[0].sire[0].sire[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span><span style="font-weight:500; font-size: 0.9em;">NO M</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br>

                    {% if canine[0].sire[0].sire[0].mom[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>
                        {% if canine[0].sire[0].sire[0].mom[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].sire[0].mom[0].can_a_s}}</span></h6>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].sire[0].mom[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].sire[0].sire[0].mom[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].sire[0].sire[0].mom[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span><span style="font-weight:500; font-size: 0.9em;">NO F</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br>

                    {% if canine[0].sire[0].mom[0].sire[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span>
                        {% if canine[0].sire[0].mom[0].sire[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].mom[0].sire[0].can_a_s}}</span></h6>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].mom[0].sire[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].sire[0].mom[0].sire[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].sire[0].mom[0].sire[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span><span style="font-weight:500; font-size: 0.9em;">NO M</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br>

                    {% if canine[0].sire[0].mom[0].mom[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>
                        {% if canine[0].sire[0].mom[0].mom[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].mom[0].mom[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].mom[0].mom[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].sire[0].mom[0].mom[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].sire[0].mom[0].mom[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>NO F<span style="font-weight:500; font-size: 0.9em;"></span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br>

                    {% if canine[0].mom[0].sire[0].sire[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span>
                        {% if canine[0].mom[0].sire[0].sire[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].sire[0].sire[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].sire[0].sire[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].mom[0].sire[0].sire[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].sire[0].sire[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span><span style="font-weight:500; font-size: 0.9em;">NO M</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br>

                    {% if canine[0].mom[0].sire[0].mom[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>
                        {% if canine[0].mom[0].sire[0].mom[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].sire[0].mom[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].sire[0].mom[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].mom[0].sire[0].mom[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].sire[0].mom[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span><span style="font-weight:500; font-size: 0.9em;">NO F</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br>

                    {% if canine[0].mom[0].mom[0].sire[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span>
                        {% if canine[0].mom[0].mom[0].sire[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].mom[0].sire[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].mom[0].sire[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].mom[0].mom[0].sire[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].mom[0].sire[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span><span style="font-weight:500; font-size: 0.9em;">NO M</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br>

                    {% if canine[0].mom[0].mom[0].mom[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>
                        {% if canine[0].mom[0].mom[0].mom[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].mom[0].mom[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].mom[0].mom[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].mom[0].mom[0].mom[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].mom[0].mom[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span><span style="font-weight:500; font-size: 0.9em;">NO F</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                </div>
                
                <div class="col-xs-3 font-w600 pull-right white" style="z-index:2; margin:90px 5px 0 0;">
                    {% if canine[0].sire[0].sire[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span>
                        {% if canine[0].sire[0].sire[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].sire[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].sire[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].sire[0].sire[0].can_current_reg_number}}</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].sire[0].sire[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span><span style="font-weight:500; font-size: 0.9em;">NO M</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br><br><br><br><br><br>

                    {% if canine[0].sire[0].mom[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>
                        {% if canine[0].sire[0].mom[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].mom[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].mom[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].sire[0].mom[0].can_current_reg_number}}</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].sire[0].mom[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span><span style="font-weight:500; font-size: 0.9em;">NO F</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br><br><br><br><br>

                    {% if canine[0].mom[0].sire[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span>
                        {% if canine[0].mom[0].sire[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].sire[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].sire[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].mom[0].sire[0].can_current_reg_number}}</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].sire[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span><span style="font-weight:500; font-size: 0.9em;">NO M</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br><br><br><br><br><br>

                    {% if canine[0].mom[0].mom[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>
                        {% if canine[0].mom[0].mom[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].mom[0].can_a_s}}</span>
                            {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].mom[0].mom[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].mom[0].mom[0].can_current_reg_number}}</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].mom[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>NO F</h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</span></h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                </div>

                <div class="col-xs-3 font-w600 pull-right white" style="z-index:2; margin: 170px 5px 0 0;">
                    {% if canine[0].sire[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span>
                        {% if canine[0].sire[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size: 0.9em;">{{canine[0].sire[0].can_a_s}}</span>
                        </h6>
                        {% endif %}
                            <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].sire[0].can_current_reg_number}}</h6>
                            <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].sire[0].can_color}}</h6>
                    {% else %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Sire:</span><span style="font-weight:500; font-size: 0.9em;">NO M</span></h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>

                    {% if canine[0].mom[0] != null %}
                        <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span>
                        {% if canine[0].mom[0].can_icr_number != '-' %}
                            <span class="icr" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].can_a_s}}</span>
                        {% else %}
                            <span style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].can_a_s}}</span>
                        {% endif %}
                        </h6>
                        <h6 class="parent_number" style="font-weight:500;"><span style="font-size:0.7em;">Current Reg./ICR No. #:</span><span style="font-size: 0.9em;"> {{canine[0].mom[0].can_current_reg_number}}</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">{{canine[0].mom[0].can_color}}</h6>
                    {% else %}
                    <h6 class="parent_name"><span style="font-weight:500; font-size: 1.1em;">Dam:</span><span style="font-weight:500; font-size: 0.9em;">NO F</span></h6>
                        <h6 class="parent_number" style="font-weight:500; font-size:0.9em;">Current Reg./ICR No. #: -</h6>
                        <h6 class="parent_color" style="font-weight:500; font-size:0.9em;">-</h6>
                    {% endif %}
                    <br><br><br>

                    <h6 class="font-w600 white" style="margin-top: 10px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{now|date('D')}},&nbsp;&nbsp;&nbsp;{{now|date('F')}} &nbsp;&nbsp;&nbsp;{{now|date('dS')}}&nbsp;&nbsp;&nbsp;&nbsp; {{now|date('Y')}}</h6>
                    <br><br><br>

                    <h6 class="font-w600 white text-center" style="margin-left: -35px; margin-top: 10px;">KRIS JOHAN</h6>
                    <h6 class="font-w600 white text-center" style="margin-left: -35px; margin-top: 5px; font-size: 0.9em;"><i>The President of Indonesian Canine Registry</i></h6>
                </div>     

                <div class="col-xs-4 pull-left" style="z-index:1 !important; margin: 280px 0 0 45px; position: absolute;">
                    <h3 class="font-w600" style="color:#FF0000 !important;">
                        {% if canine[0].ken_type_id == 1 %}
                            {{canine[0].can_a_s}} von {{canine[0].ken_name}}
                        {% elseif canine[0].ken_type_id == 2 %}
                            {{canine[0].ken_name}}' {{canine[0].can_a_s}}
                        {% else %}
                            {{canine[0].can_a_s}}
                        {% endif %}
                    </h3>
                    <h4 style="margin-top: 10px;" >Breeder: {{canine[0].can_owner_name}}</h4>
                    <div style="margin-top: 5px; font-size:0.7em;">Siblings:</div>
                    <div style="margin-top: 5px; font-size:0.7em;">
                        {% for male in sibling_male %}
                            {% if loop.index == male|length %}
                                {% if male.ken_type_id == 1 %}
                                    {{- male.can_a_s}} von {{male.ken_name}}
                                {% elseif male.ken_type_id == 2 %}
                                    {{- male.ken_name}}' {{male.can_a_s}}
                                {% else %}
                                    {{- male.can_a_s}}
                                {% endif %}
                                {# {{- male.can_a_s}} #}
                            {% else %}
                                {% if male.ken_type_id == 1 %}
                                    ,{{- male.can_a_s}} von {{male.ken_name}}
                                {% elseif male.ken_type_id == 2 %}
                                    ,{{- male.ken_name}}' {{male.can_a_s}}
                                {% else %}
                                    ,{{- male.can_a_s}}
                                {% endif %}
                                {# ,{{- male.can_a_s}} #}
                            {% endif %}
                        {% endfor %}(male)
                    </div>
                    <div style="margin-top: 5px; font-size:0.7em;">
                        {% for female in sibling_female %}
                            {% if loop.index == female|length %}
                                {% if female.ken_type_id == 1 %}
                                    {{- female.can_a_s}} von {{female.ken_name}}
                                {% elseif female.ken_type_id == 2 %}
                                    {{- female.ken_name}}' {{female.can_a_s}}
                                {% else %}
                                    {{- female.can_a_s}}
                                {% endif %}
                                {# {{female.can_a_s}} #}
                            {% else %}
                                {% if female.ken_type_id == 1 %}
                                    ,{{- female.can_a_s}} von {{female.ken_name}}
                                {% elseif female.ken_type_id == 2 %}
                                    ,{{- female.ken_name}}' {{female.can_a_s}}
                                {% else %}
                                    ,{{- female.can_a_s}}
                                {% endif %}
                                {# ,{{female.can_a_s}} #}
                            {% endif %}
                        {% endfor %}(female)
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <br class="hidden-print">
                <br class="hidden-print">
            </div>
            <div class="clearfix hidden-print"></div>
            <hr class="hidden-print hidden-print">

            <button class="btn btn-primary pull-right hidden-print" onclick="_print(this)" title="Cetak Sertifikat"><i class="si si-printer"></i>&nbsp;&nbsp;Cetak Sertifikat</button>

            <a href="{{base_url()}}backend/canines" class="btn btn-success btn-done pull-right hidden-print" title="Proses Selesai" style="margin-right:10px; display:none"><i class="si si-check"></i>&nbsp;&nbsp;Selesai</a>
            <div class="clearfix hidden-print"></div>
            <br class="hidden-print">
            </div>
        </div>
        <!-- Dynamic Table Full -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.js"></script>
<!-- Page JS Code -->
<input type="hidden" value="{{ base_url() }}" class="base_url" />
<script type="text/javascript">
    jQuery(function () {
        $('#page-container').addClass('sidebar-mini');
    });
    function _print(btn){
        App.initHelper('print-page');
        $('.btn-done').show();
        $(btn).hide();
    }
</script>
{% endblock %}
{# ARTechnology #}
