{% extends "template/backend.twig" %}

{% block styles %}
<link rel="stylesheet" href="{{ base_url() }}assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ base_url() }}assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link rel="stylesheet" href="{{ base_url() }}assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ base_url() }}assets/oneui/js/plugins/summernote/summernote.min.css">
<link rel="stylesheet" href="{{base_url()}}assets/sweetalert/dist/sweetalert.css" >
<link rel="stylesheet" href="{{base_url()}}assets/oneui/css/bootstrap-editable.css" >
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .fileUpload input.uploadBG {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    #imgPreview, #imgPreview-update{
        /*border-radius:50%;*/
        /*margin-bottom: 15px;*/
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrum" style="margin-top:-10px">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="{{base_url()}}" class="link-effect">Dashboard</a></li>
            <li>Kontak dan Pengalaman</li>
        </ol>
    </div>
</div>

<!-- Main Container -->
<div class="content content-boxed">
    <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div class="block-content block-content-full" style="text-align:justify !important;">

            <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10">
                   <table class="table">
                      <tr>
                        <th colspan="3">
                            <center>
                                Kontak dan Pengalamatan
                            </center>
                        </th>
                      </tr>
                        <tr>
                          <th colspan="3">
                            Pengalamatan
                          </th>
                        </tr>

                        <tr>
                            <td width="30%">Alamat Perusahaan</td>
                            <td width="1">:</td>
                            <td>
                              <a id="con_address" href="#" data-type="text" data-pk="1" data-title="alamat Perusahaan" class="editable editable-click">{{contact.con_address}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Waktu Buka dan Tutup</td>
                            <td width="1">:</td>
                            <td>
                              <a id="con_open_time" href="#" data-type="text" data-pk="1" data-title="Jam Buka" class="editable editable-click">{{contact.con_open_time}}</a> &nbsp;<b><small> dan </small></b>&nbsp;   <a id="con_close_time" href="#" data-type="text" data-pk="1" data-title="Jam Buka" class="editable editable-click">{{contact.con_close_time}}</a>
                            </td>
                        </tr>
                        <tr>
                          <th colspan="3">
                            Kontak dan Sosial Media
                          </th>
                        </tr>

                        <tr>
                            <td width="30%">Nomor Telpon</td>
                            <td width="1">:</td>
                            <td>
                              <a id="con_phone_number" href="#" data-type="text" data-pk="1" data-title="Number telphone Perusahaan" class="editable editable-click">{{contact.con_phone_number}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Facebook</td>
                            <td width="1">:</td>
                            <td>
                              <a id="con_facebook" href="#" data-type="text" data-pk="1" data-title="Number telphone Perusahaan" class="editable editable-click">{{contact.con_facebook}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Twitter</td>
                            <td width="1">:</td>
                            <td>
                              <a id="con_twitter" href="#" data-type="text" data-pk="1" data-title="twitter" class="editable editable-click">{{contact.con_twitter}}</a>
                            </td>
                        </tr>

                        <tr>
                            <td width="30%">Instagram</td>
                            <td width="1">:</td>
                            <td>
                              <a id="con_instagram" href="#" data-type="text" data-pk="1" data-title="Instagram" class="editable editable-click">{{contact.con_instagram}}</a>
                            </td>
                        </tr>


                    </table>
                </div>
                <div class="col-md-1"></div>
            </div>
            </div></div>
        </div>
    </div>

</div>

<input type="hidden" value="{{ base_url() }}" class="base_url" />
<input type="hidden" value="{{contact.con_id}}" class="conId" />
{% endblock %}

{% block scripts %}

<script src="{{ base_url() }}assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<!-- Page JS Code -->
<script src="{{ base_url() }}assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="{{ base_url() }}assets/oneui/js/pages/base_forms_wizard.js"></script>
<script src="{{base_url()}}assets/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script src="{{ base_url() }}assets/oneui/js/pages/prof_password.js"></script> -->

<script src="{{ base_url() }}assets/oneui/js/bootstrap-editable.js"></script>
<script src="{{ base_url() }}assets/oneui/js/pages/adm_contact.js"></script>
<script>
    jQuery(function () {
        $('#birthdate-add-student').datetimepicker({
            format: 'YYYY-MM-DD',
            showTodayButton: true,
            showClose: true,
            icons: {
                time: 'si si-clock',
                date: 'si si-calendar',
                up: 'si si-arrow-up',
                down: 'si si-arrow-down',
                previous: 'si si-arrow-left',
                next: 'si si-arrow-right',
                today: 'si si-size-actual',
                clear: 'si si-trash',
                close: 'si si-close'
            }
        });
        $('#birthdate-update-student').datetimepicker({
            format: 'YYYY-MM-DD',
            showTodayButton: true,
            showClose: true,
            icons: {
                time: 'si si-clock',
                date: 'si si-calendar',
                up: 'si si-arrow-up',
                down: 'si si-arrow-down',
                previous: 'si si-arrow-left',
                next: 'si si-arrow-right',
                today: 'si si-size-actual',
                clear: 'si si-trash',
                close: 'si si-close'
            }
        });
    });
</script>
{% endblock %}
