{% extends "template/backend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.css">


<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        /*border-radius:50%;*/
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>Produk</li>
        </ol>
    </div>
</div>
<!-- Page Content -->

<div class="content">
<!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header text-center bg-gray-lighter">
            <button class="btn btn-default btn-delete-product pull-left"  data-toggle="tooltip" title="Hapus yang dipilih" disabled><i class="si si-trash"></i></button>

            <button class="btn btn-primary btn-add-product pull-right" onClick="openModal('#modal-add-product', 'add')" data-toggle="tooltip" title="Tambah Produk"><i class="si si-note"></i></button>
            <h4> <small>Daftar</small> Produk</h4>
        </div>
        <div class="block-content table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/employee.js -->
            <table class="table table-borderless table-striped data-products">
                <thead>
                    <tr>
                        <th width="5">
                            <div class="checkbox-product-all">
                              <input type="checkbox" data-toggle="tooltip" title="Select all">
                            </div>
                        </th>
                        <th width="1%">Foto</th>
                        <th>Nama Produk</th>
                        <th>Harga Produk</th>
                        <th>Deskripsi Produk</th>
                        <th class="text-center" width="1%">#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-product" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="{{base_url()}}backend/products/add" class="form-add-product form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Tambah Produk</h3>
                </div>
                <div class="block-content">
                    <div class="form-group">
                      <div class="col-xs-4 col-xs-offset-4">
                          <img id="imgPreview-update" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                          <div class="fileUpload btn btn-default btn-flat btn-block">
                              <span>Upload Produk</span>
                              <input type="file" class="upload" name="photo" id="imageInput"/>
                              <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop-update"/>
                          </div>
                          <!-- <small class="text-muted">Ratio 1:1</small> -->
                      </div>
                    </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                        <label for="name-add-product">Nama Produk</label>
                        <input class="form-control" id="name-add-product" name="pro_name" type="text" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                        <label for="price-add-product">Harga Produk</label>
                        <input class="form-control" id="price-add-product" name="pro_price" type="number" min="0" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                        <label for="description-add-product">Deskripsi</label>
                        <textarea class="form-control" name="pro_desc" id="description-add-product"  rows="4" cols="20" required></textarea>
                      </div>
                  </div>

                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary submit-add-employee">Simpan</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-product" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-md">
        <div class="modal-content">
            <form action="" class="form-update-product form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Ubah Produk</h3>
                </div>
                <div class="block-content">
                    <!-- <div class="col-sm-6"> -->
                      <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-4">
                            <img id="imgPreview-update" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                            <div class="fileUpload btn btn-default btn-flat btn-block">
                                <span>Browse Image</span>
                                <input type="file" class="upload" name="photo" id="imageInput"/>
                                <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                            </div>
                            <!-- <small class="text-muted">Ratio 1:1</small> -->
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-12">
                            <label for="name-update-product">Nama Produk</label>
                            <input class="form-control" id="name-update-product" name="pro_name" type="text" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-12">
                            <label for="price-update-product">Harga Produk</label>
                            <input class="form-control" id="price-update-product" name="pro_price" type="number" min="0" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-12">
                            <label for="description-update-product">Deskripsi</label>
                            <textarea class="form-control" name="pro_desc" id="description-update-product"  rows="4" cols="20" required></textarea>
                          </div>
                      </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-update-product">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->

<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-primary-dark">
                <ul class="block-options">
                    <li>
                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Image Cropper</h3>
            </div>
            <div class="block-content">
                <div id="cropper-wrap-img">
                    <img width="100%" src="/img/default.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
            <button type="button" class="btn btn-primary btn-crop">Crop</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.js"></script>
<!-- Page JS Code -->
<input type="hidden" value="{{ base_url() }}" class="base_url" />
<script src="{{ base_url() }}/assets/oneui/js/pages/adm_product.js"></script>
<script src="{{ base_url() }}/assets/js/jquery.priceformat.min.js"></script>
<script>
	function setSeparator(id){
		$(id).priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.', centsLimit: 0 });
	}
    setSeparator('#price-update-product');
</script>
{% endblock %}
