{# ARTechnology #}
{% extends "template/backend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/css/search.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{{ base_url() }}/assets/select2/css/select2.min.css" />
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>Approve Data Pacak</li>
        </ol>
    </div>
</div>
<!-- Page Content -->

<div class="content">
<!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header text-center bg-gray-lighter">
            <h4>Approve Data Pacak</h4>
        </div>
        <div class="block-content">
            <div class="table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/employee.js -->
                <table class="table table-borderless table-striped data-studs">
                    <thead>
                        <tr>
                            <th width="5%">Pacak</th>
                            <th>Tanggal Pacak</th>
                            <th>Member</th>
                            <th width="5%">Sire</th>
                            <th width="5%">Dam</th>
                            <th width="5%">Pejantan</th>
                            <th width="5%">Betina</th>
                            <th class="text-center" width="1%">#</th>
                            <th class="text-center" width="1%">#</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-approve-stud" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="" class="form-approve-stud form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Approve Pacak</h3>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgStud">Pacak</label>
                                    <img id="imgStud" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="stu-stud-date">Tanggal Pacak</label>
                                    <div id="stu-stud-date"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgSire">Foto Sire</label>
                                    <img id="imgSire" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgSire2">Foto Pejantan</label>
                                    <img id="imgSire2" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgDam">Foto Dam</label>
                                    <img id="imgDam" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgDam2">Foto Betina</label>
                                    <img id="imgDam2" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-1">
                                <label for="stu_note_approve">Keterangan</label>
                                <textarea class="form-control" name="stu_note" id="stu_note_approve"  rows="4" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary submit-approve-stud">Simpan</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal approve-->

<div class="modal fade" id="modal-reject-stud" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="" class="form-reject-stud form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Tolak Pacak</h3>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgStud">Pacak</label>
                                    <img id="imgStud" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12 text-center">
                                    <label for="stu-stud-date-reject">Tanggal Pacak</label>
                                    <div id="stu-stud-date-reject"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgSire">Foto Sire</label>
                                    <img id="imgSire" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgSire2">Foto Pejantan</label>
                                    <img id="imgSire2" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgDam">Foto Dam</label>
                                    <img id="imgDam" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <label for="imgDam2">Foto Betina</label>
                                    <img id="imgDam2" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-1">
                                <label for="stu_note_reject">Keterangan</label>
                                <textarea class="form-control" name="stu_note" id="stu_note_reject"  rows="4" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary submit-reject-stud">Simpan</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal approve-->
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.js"></script>
<script src="{{ base_url() }}assets/select2/js/select2.min.js"></script>
<!-- Page JS Code -->
<input type="hidden" value="{{ base_url() }}" class="base_url" />
<script src="{{ base_url() }}/assets/oneui/js/pages/adm_studs.js"></script>
<script>
var base_url = $('.base_url').val();

{# start select2 #}

$(".dam").select2({
    placeholder: 'Pilih Dam',
    ajax: {
        url: base_url+"/backend/canines/dam",
        dataType: 'json',
        delay: 250,
        processResults: function (data) {
        return {
            results: data
        };
        },
        cache: true
    },
    dropdownParent: $("#modal-approve-stud")
});

$(".sire").select2({
    placeholder: 'Pilih Sire',
    ajax: {
        url: base_url+"/backend/canines/sire",
        dataType: 'json',
        delay: 250,
        processResults: function (data) {
        return {
            results: data
        };
        },
        cache: true
    },
    dropdownParent: $("#modal-approve-stud")
});
</script>
{% endblock %}
