

{% extends "template/frontend.twig" %}
{% block title %}Event
{% endblock %}
{% block styles %}

<link href="{{base_url()}}assets/coco/libs/jquery-magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
<link href="{{base_url()}}assets/coco/css/style.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block inverted %}inverted{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<section class="portfolio-block" style="margin-bottom: 25px;">

                <div class="container">
                    <div class="portfolio-container zoom-gallery" style="position: relative; ">
                      <div class="row">

                          {% for event in events %}
                            <div class="col-md-4">
                              <!-- <div class="project development design" style="position: absolute; left: 0px; top: 0px;"> -->
                                  <a href="javascript:;" class="gallery-item-title">{{event.evn_title}}</a>
                                  <a href="{{base_url()}}{{event.evn_photo}}" data-source="{{base_url()}}{{event.evn_photo}}" title="{{event.evn_title}}" class="gallery-item effect-milo">
                                      <img src="{{base_url()}}{{event.evn_photo}}">
                                  </a>

                                  <div class="pull-left">
                                    <p class="gallery-item-descr">
                                        <i class="icon-tag4"></i> {{event.evn_place}}
                                    </p>
                                  </div>


                                  <div class=" pull-right">
                                    <a href="{{base_url()}}events/albums/{{event.evn_id}}" name="button" class="btn btn-default"><span class="glyphicon glyphicon-picture"></span> Galeri Acara</a>

                                  </div>

                                  <div class="col-md-12" style="padding:0px;margin-top:5px;">
                                    <p class="gallery-item-descr">
                                        {{event.evn_desc}}
                                    <!-- <ul> -->
                                        <br/>Tempat  : {{event.evn_place}}
                                        <br/>Tanggal : {{event.evn_date|date('d M Y')}}
                                        <!-- <li>Milik Wesi Prayudha Sakti</li> -->
                                    <!-- </ul> -->
                                    </p>
                                    <!-- <p>
                                      Ranking sementara :
                                    </p>
                                    <ol>
                                      {% for winner in winners %}
                                          <li>{{winner.can_a_s}} - score : {{winner.can_score}}</li>
                                      {% endfor %}
                                    </ol> -->
                                  </div>

                              <!-- </div> -->
                            </div>
                          {% endfor %}

                      </div>

                    </div>
                </div>

                <center>
                  <nav>
                    {{links|raw}}
                  </nav>

                </center>
            </section>

            <section class="hero-banner bg-primary">
                <div class="container text-center">

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <h2 class="text-white-1">IKUTI EVENT YANG KAMI SELENGGARAKAN!</h2><hr>
                            <div class="row">
                                <div class="col-sm-12 text-white-1">
                                 Setiap gelaran event yang dilaksanakan bertujuan sebagai ajang kumpul ICR. Ada berbagai agenda kebersamaan dan semua akan menjadi lebih meriah saat Anda bisa bergabung sebagai keluarga besar ICR.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}

{% block scripts %}{% endblock %}
