{# By: ARTechnology #}
{% extends "template/frontend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link href="{{base_url()}}assets/coco/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{base_url()}}assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link href="{{base_url()}}assets/coco/libs/jquery-magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/css/search.css" media="screen" title="no title" charset="utf-8">

<style>
    .bg-info{
        background-color: #000000 !important;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview{
        margin-bottom: 15px;
    }
    th{
        color: white !important;
    }
    th.picker-switch{
        color: gray !important;
    }
    .datepicker table tr td.today,
    .datepicker table tr td.today:hover,
    .datepicker table tr td.today.disabled,
    .datepicker table tr td.today.disabled:hover {
        background-color: gray;
    }
    .text-gray{
        color: gray !important;
    }
</style>
{% endblock %}

{% block inverted %}inverted{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<!-- Page Content -->

<section class="hero-banner bg-info">
    <div class="container">
        <div class="row text-center">
            <h3 class="text-white-1">List Lahir</h3>
            <br/>
        </div>
        <div class="row">
            <form class="form-horizontal push-10-t" action="{{ base_url() }}births" method="get" style="margin-top:19px;">
                <div class="form-group">
                    <div class="col-xs-7"></div>
                    <div class="col-xs-5">
                        <div class="col-xs-12 js-header-search header-search" >
                            <div class="input-group" id="prefetch">
                                <input class="form-control search" type="text" name="q" placeholder="Nama/Kennel/Tanggal Lahir" required="Maaf pencarian tidak boleh kosong!!">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"><i class="icon-search"></i></button>
                                </div>
                            </div>
                            <h5 class="text-white-1 text-center">Format Tanggal Lahir: tgl-bulan-tahun. Contoh: 12-12-2012.</h5>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-4">    
                        {% if error %}
                            <div class="panel panel-default" data-modal="md-fade-in-scale-up" style="margin-top: 5px; background-color:#fcf8e3;">
                                <div class="panel-body">{{error|raw}}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th width="5%">Foto</th>
                        <th>Nama</th>
                        <th>Breed</th>
                        <th>Jenis Kelamin</th>
                        <th>Warna</th>
                        <th>Tanggal Lahir</th>
                        <th>Breeder</th>
                        <th>Kennel</th>
                        <th>Status</th>
                        <th>Approver</th>
                        <th>Tanggal Approve</th>
                        <th class="text-center" width="1%"></th>
                        <th>Keterangan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in births %}
                        <tr>
                            {% if row.bir_photo == '-' %}
                                <td><img src="{{base_url()}}assets/oneui/img/avatars/image.png" width="100" class="img img-thumbnail" style="border-radius:5%"></td>
                            {% else %}
                                <td><img src="{{base_url()}}uploads/canine/{{row.bir_photo}}" width="100" class="img img-thumbnail" style="border-radius:5%"></td>
                            {% endif %}

                            {% if row.ken_type_id == 1 %}
                                <td class="text-white-1">{{row.bir_a_s}} von {{row.ken_name}}</td>
                            {% elseif row.ken_type_id == 2 %}
                                <td class="text-white-1">{{row.ken_name}}' {{row.bir_a_s}}</td>
                            {% else %}
                                <td class="text-white-1">{{row.bir_a_s}}</td>
                            {% endif %}
                            <td class="text-white-1">{{row.bir_breed}}</td>
                            <td class="text-white-1">{{row.bir_gender}}</td>
                            <td class="text-white-1">{{row.bir_color}}</td>
                            <td class="text-white-1">{{row.bir_date_of_birth|date("d-m-Y")}}</td>
                            <td class="text-white-1">{{row.bir_owner_name}}</td>
                            <td class="text-white-1">{{row.bir_cage}}</td>
                            <td class="text-white-1">{{row.stat_name}}</td>
                            <td class="text-white-1">{{row.use_username}}</td>

                            {% if row.bir_app_date %}
                                <td class="text-white-1">{{row.bir_app_date|date("d-m-Y")}}</td>
                            {% else %}
                                <td class="text-white-1"></td>
                            {% endif %}

                            {% if row.bir_stat == 0 %}
                                <td><button class="btn btn-default" onClick="openModal('#modal-update-birth', 'update-birth', {{row.bir_id}})" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-pencil"></i></button></td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td class="text-white-1">{{row.bir_note}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- modals -->
<div class="modal fade" id="modal-update-birth" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" class="form-update-birth form-horizontal" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Request Penambahan Data Lahir</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-4">
                            <img id="imgPreview" width="100%" src="{{base_url()}}assets/oneui/img/avatars/avatar1.jpg">
                            <div class="fileUpload btn btn-default btn-flat btn-block text-center">
                                <label for="imageInput" class="btn">Gambar Canine</label>
                                <input type="file" class="upload canine" name="bir_photo" id="imageInput" />
                                <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                          <label for="bir_a_s">Nama</label>
                          <input class="form-control" id="bir_a_s" name="bir_a_s" type="text" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                          <label for="bir_breed">Breed</label>
                          <select class="form-control" id="bir_breed" name="bir_breed" required>
                            {% for trah in trahs %}
                                <option value="{{trah.tra_name}}">{{trah.tra_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                          <label for="bir_gender">Jenis Kelamin</label>
                          <br>
                          <input id="bir_gender" name="bir_gender" type="radio" value="Male" checked>Male&nbsp;&nbsp;
                          <input id="bir_gender" name="bir_gender" type="radio" value="Female" />Female
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                          <label for="bir_color">Warna</label>
                          <input class="form-control" id="bir_color" name="bir_color" type="text" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="bir_date_of_birth">Tanggal Lahir</label>
                            <input class="form-control" id="bir_date_of_birth" name="bir_date_of_birth" type="text" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12" id="breeder-canines">
                          <label for="breeder">Breeder</label>
                          <input class="form-control typeahead" id="breeder" name="bir_owner_name" type="text" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12" id="kennel-canines">
                          <label for="kennel">Kennel</label>
                          <input class="form-control typeahead" id="kennel" name="bir_cage" type="text" required>
                        </div>
                    </div>

                    <input type="hidden" value="" id="bir_stu_id" name="bir_stu_id">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary submit-update-stud">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Image Cropper</h3>
            </div>
            <div class="modal-body">
                <div id="cropper-wrap-img">
                    <img width="100%" src="/img/default.png" alt="Picture">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
                <button type="button" class="btn btn-primary btn-crop">Crop</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="{{ base_url() }}" class="base_url" />
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<!-- search engine -->
<script src="{{ base_url() }}assets/typeahead.js/dist/bloodhound.min.js"></script>
<script src="{{ base_url() }}assets/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="{{ base_url() }}assets/typeahead.js/dist/typeahead.jquery.min.js"></script>

<!-- Page JS Code -->
<script src="{{ base_url() }}/assets/oneui/js/pages/view_births.js"></script>

<script>
var base_url = $('.base_url').val();

// breeder
var breeder = new Bloodhound({
    identify: function(o) { return o.can_owner_name; },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('can_owner_name'),
    dupDetector: function(a, b) { return a.can_owner_name === b.can_owner_name; },
    remote: {
      url: base_url+'canines/breeder?q=%QUERY',
      wildcard: '%QUERY',
      cache: false
    }
  });

breeder.initialize();
$('#breeder-canines .typeahead').typeahead(null, {
name: 'breeder',
display: 'can_owner_name',
placeholder: false,
source: breeder.ttAdapter(),
templates: {
  empty: [
    '<div class="empty-message">',
      '<h6><strong>Maaf Data Tidak Ditemukan</strong></h6>',
    '</div>'
  ].join('\n'),
  suggestion: function (data) {
     return '<a style="color:black;" href="#"><div style="margin-bottom:10px;padding-left:10px;">'+ data.can_owner_name + '</div></a><br><hr>';
 }
}
});

// kennel
var kennel = new Bloodhound({
    identify: function(o) { return o.can_cage; },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('can_cage'),
    dupDetector: function(a, b) { return a.can_cage === b.can_cage; },
    remote: {
      url: base_url+'canines/kennel?q=%QUERY',
      wildcard: '%QUERY',
      cache: false
    }
  });

kennel.initialize();
$('#kennel-canines .typeahead').typeahead(null, {
name: 'kennel',
display: 'can_cage',
placeholder: false,
source: kennel.ttAdapter(),
templates: {
  empty: [
    '<div class="empty-message">',
      '<h6><strong>Maaf Data Tidak Ditemukan</strong></h6>',
    '</div>'
  ].join('\n'),
  suggestion: function (data) {
     return '<a style="color:black;" href="#"><div style="margin-bottom:10px;padding-left:10px;">'+ data.can_cage + '</div></a><br><hr>';
 }
}
});
</script>

{% endblock %}