{# ARTechnology #}
{% extends "template/frontend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.css">
<link href="{{base_url()}}assets/coco/css/style.css" rel="stylesheet" type="text/css" />

<style>
    .bg-info{
        background-color: #000000 !important;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreviewPP,
    #imgPreview-update, #imgPreviewPP-update{
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block inverted %}inverted{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<!-- Page Content -->

<section class="hero-banner bg-info">
    <div class="container">
        <div class="row text-center">
            <h3 class="text-white-1">Ubah Password</h3>
            <br/>
        </div>
        <div class="row">
            <form id="form-update-member" data-is-member="{{ members|json_encode }}" action="" class="form-update-member form-horizontal" method="post">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="text-white-1" for="username-update-member">Username</label>
                            <input class="form-control" id="username-update-member" name="mem_username" type="text" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="text-white-1" for="pass-update-member">Password</label>
                            <input class="form-control" id="pass-update-member" name="password" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="text-white-1" for="newpass-update-member">Password Baru</label>
                            <input class="form-control" id="newpass-update-member" name="newpass" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="text-white-1" for="repass-update-member">Konfirmasi Password</label>
                            <input class="form-control" id="repass-update-member" name="repass" type="password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-primary submit-update-member">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/summernote/summernote.min.js"></script>
<!-- Page JS Code -->
<input type="hidden" value="{{ base_url() }}" class="base_url" />
<script src="{{ base_url() }}/assets/oneui/js/pages/edit_password.js"></script>
{% endblock %}
